@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1E252B;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.container {
    width: calc(100% - 220px);
    margin: 0 auto;
}

@media (max-width: 990px) {
    .container {
        width: calc(100% - 60px);
    }
}

@media (max-width: 770px) and (min-width: 320px) {
    .container {
        width: calc(100% - 45px);
    }
}



/* -----------------HEADER------------------------------ */

.header {
    width: 100%;
}

.header__wrapper {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.header__block {
    color: rgba(255, 255, 255, 0.9);
    width: 20%;
    display: flex;
    align-items: center;
}

.header__name-logo {
    margin-left: 12px;
}

.color__point {
    color: rgba(255, 110, 48, 1);
    margin: 0;
}

.header__block:last-child {
    text-align: right;
}

.header__nav {
    display: flex;
}

.nav__links {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav__links:not(:first-child) {
    padding-left: 30px;
}


.header__login-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    padding-right: 41px;
    font-weight: 600;
}

.header__sign-link {
    color: rgba(255, 255, 255, 0.9);
    background: #FF6E30;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 28px;
}

@media (max-width: 1265px) and (min-width:990px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) and (min-width: 320px) {
    .header__nav {
        display: none;
    }

    .header__login {
        display: none;
    }
}

@media (max-width: 549px) {}

/* -----------------INTRO------------------------------ */

.intro__content {
    display: flex;
    align-items: center;
}

.intro__block {
    margin-top: 111px;
    font-weight: 500;
}

.intro__title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
}

.intro__subtitle {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    padding-top: 30px;
    font-size: 18px;
}

.intro__main-img {
    position: absolute;
    right: 0;
    top: 91px;
}

.intro__search-container {
    position: relative;
    margin-top: 60px;
}

.intro__search {
    height: 64px;
    width: 100%;
    border: 8px;
    background: #283036;
    border-radius: 15px;
    padding-left: 55px;
    padding-right: 150px;
    color: rgba(255, 255, 255, 0.9);
}

.search-image {
    position: absolute;
    left: 20px;
    top: 20px;
    background: none;
}


.intro__search-link {
    position: absolute;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    background: #FF6E30;
    border-radius: 8px;
    right: 11px;
    padding: 9px 0px;
    top: 9px;
    width: 23%;
    text-align: center;
}

.right__intro {
    position: absolute;
    right: 0;
    top: 111px;
    margin-right: 231px;
}

.intro__footer {
    display: flex;
}

.icon-image {
    margin-top: 111px;
    cursor: pointer;
    padding-right: 40px;
}

@media (max-width: 1265px) and (min-width:990px) {

    .intro__title {
        font-size: 45px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    .intro__main-img {
        right: -30px;
    }

    .intro__search {
        width: 92%;
    }

    .intro__search-link {
        top: 9px;
        right: 52px;
        padding: 13px 0px;
        font-size: 14px;
    }
}


@media (max-width: 990px) {

    .intro__title {
        font-size: 38px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    .intro__main-img {
        height: 553px;
        right: -77px;
    }

    .intro__search {
        width: 92%;
    }

    .intro__search-link {
        top: 8px;
        right: 49px;
        padding: 13px 0px;
        font-size: 14px;
    }
}

@media (max-width: 770px) and (min-width: 320px) {

    .intro__block {
        margin-top: 60px;
    }

    .intro__title {
        font-size: 27px;
    }

    .intro__subtitle {
        padding-top: 20px;
    }

    .intro__search-container {
        margin-top: 45px;
    }

    .intro__search {
        height: 50px;
        padding-right: 0;
    }

    .intro__search-link {
        top: 8px;
        right: 40px;
        padding: 5px 0px;
    }

    .search-image {
        top: 15px;
    }

    .intro__main-img {
        display: none;
    }


    .icon-image {
        margin-top: 70px;
        padding-right: 20px;
    }

}

@media (max-width: 549px) {}

/* -------------------INFO----------------------------- */
.info {
    margin-top: 200px;
    padding-bottom: 90px;
}

.title__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.info__title {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 48px;
}

.info__subtitle {
    padding-top: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}

@media (max-width: 1265px) and (min-width:990px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) and (min-width: 320px) {

    .info {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .info__title {
        text-align: left;
        font-size: 38px;
    }

    .info__subtitle {
        text-align: left;
        padding-top: 15px;
        font-size: 20px;
    }
}

/* ----------------------MAIN__INFO-------------------------- */

.main__info {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 90px;
}

.main__info-item {
    width: 30%;
    padding: 30px;
    margin-bottom: 100px;
}

.main__info-item:hover {
    background: rgba(40, 48, 54, 0.6);
    border-radius: 15px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.main__info-item:hover .body__item {
    color: rgba(255, 255, 255, 0.78);
}

.main__info-item:hover .main__item-link {
    background: #FF6E30;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.78);
    padding: 9px 35px;
    font-size: 16px;
    font-weight: 600;
}

.main__info-item:hover .footer__like-icon {
    background: url(img/flat-color-icons_like.svg);
    background-repeat: no-repeat;
}

.header__info-item {
    display: flex;
}

.header__icon {
    margin-bottom: auto;
}

.about__item {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.title__item {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.vs__active {
    display: none;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.title__item-vs {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.subtitle__item {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
    padding-top: 3px;
}

.body__item {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
    padding-top: 30px;
}

.footer__item {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.footer__like-icon {
    padding-right: 25px;
    cursor: pointer;
}

.footer__add-icon {
    cursor: pointer;
}

.footer__link {
    margin-left: auto;
}

.main__item-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 16px;
    padding-right: 56px;
}

@media (max-width: 1265px) and (min-width:770px) {

    .body__item br {
        display: none;
    }
}


@media (max-width: 770px) and (min-width: 320px) {

    .body__item br {
        display: none;
    }

    .main__info {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .main__info-item {
        width: 100%;
        padding: 0;
        margin-bottom: 20%;
    }

    .title__item-vs {
        display: none;
    }

    .vs__active {
        display: inline;
        font-size: 20px;
        white-space: nowrap;
    }

    .about__item {
        padding-left: 10px;
    }

    .title__item {
        font-size: 20px;
    }

    .subtitle__item {
        padding-top: 0;
        font-size: 80%;
        /* font-size: 13px; */
    }

    .body__item {
        padding-top: 7%;
        font-size: 15px;
    }

    .main__item-link {
        padding-right: 0;
        margin-right: 5px;
    }

    .main__info-item:hover .main__item-link {
        padding: 4px 25px;
        margin-right: 15px;
        font-size: 15px;
    }

    .footer__item {
        padding-top: 15px;
    }

    .footer__like-icon {
        padding-right: 14px;
    }
}


/* ----------------------info__btn  Start-------------------------- */

.info__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.footer__info-btn {
    width: 184px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    color: #FF6E30;
    background: #1E252B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 1265px) and (min-width:990px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) and (min-width: 320px) {

    .info__btn {
        width: 77%;
        margin-bottom: 40%;
        margin-left: 9%;
    }

    .footer__info-btn {
        width: 130px;
        height: 50px;
        font-size: 18px;
    }
}

/* ----------------------info__btn  END----------------------- */



/* ----------------------brand  Start-------------------------- */

.brand {
    width: 100%;
    max-height: 253px;
    background: rgba(44, 53, 61, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    padding-top: 55px;
    padding-right: 83px;
    padding-bottom: 55px;
    padding-left: 83px;
    margin-bottom: 200px;
}

.brand__container {
    max-height: 150px;
}

.brand__text {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 55px;
}

.brand__image {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1265px) and (min-width:990px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) and (min-width: 320px) {

    .brand {
        width: 90%;
        max-height: 0%;
        padding-top: 8%;
        padding-bottom: 8%;
        margin-left: 3%;
    }

    .brand__container {
        max-height: 0%;
    }

    .brand__text {
        white-space: nowrap;
        font-size: 19px;
        margin-bottom: 25px;
    }

    .brand__image {
        flex-direction: column;
    }

    .brand__image-item:not(:last-child) {
        padding-bottom: 35px;
    }
}

/* ----------------------brand  End-------------------------- */



/* ----------------------newcomer__tools  Start-------------------------- */

.newcomer__container {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 200px;
}

.newcomer__holder {
    display: flex;
}

.newcomer__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.newcomer__title {
    font-weight: 500;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.newcomer__subtitle {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
}

.newcomer__btn {
    width: 198px;
    background: #FF6E30;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 40px;
    cursor: pointer;
}

.newcomer__apps-main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 197px;
    justify-content: space-between;
}

.newcomer__apps {
    width: 48%;
    padding: 28px 21px;
}

.newcomer__apps:not(:last-child) {
    margin-bottom: 22%;
}

.header__app {
    display: flex;
}

.about__app {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.title__app {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.subtitle__app {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
    padding-top: 3px;
}

.body__app {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
    padding-top: 30px;
}

.footer__app {
    padding-top: 30px;
    display: flex;
    align-items: center
}

.app__like-icon {
    padding-right: 20px;
    cursor: pointer;
}

.app__add-icon {
    cursor: pointer;
}

.app__link {
    margin-left: auto;
}

.main__app-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 16px;
    padding-right: 56px;
}

.newcomer__apps:hover {
    background: rgba(40, 48, 54, 0.6);
    border-radius: 15px;
    transform: scale(1.01);
    transition: all 0.5s;
}

.newcomer__apps:hover .body__item {
    color: rgba(255, 255, 255, 0.78);
}

.newcomer__apps:hover .main__app-link {
    background: #FF6E30;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.78);
    padding: 9px 35px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1265px) and (min-width:990px) {

    .newcomer__title {
        margin-bottom: 20px;
    }

    .newcomer__subtitle {
        font-size: 15px;
        white-space: nowrap;
        margin-bottom: 40px;
    }
}

@media (max-width: 990px) {}

@media (max-width: 770px) and (min-width: 320px) {

    .newcomer__holder {
        flex-direction: column;
    }

    .newcomer__title {
        white-space: nowrap;
        font-size: 43px;
        margin-bottom: 10%;
    }

    .newcomer__subtitle {
        white-space: nowrap;
        font-size: 16px;
        margin-bottom: 12%;
    }

    .newcomer__btn {
        width: 65%;
        font-size: 16px;
        padding: 15px 0px;
    }

    .newcomer__apps-main {
        align-items: start;
        flex-direction: column;
        margin-left: 0;
        margin-top: 12%;
    }

    .newcomer__apps-main:first-child {
        margin-bottom: 17%;
    }

    .main__app-link {
        padding-right: 0;
        margin-right: 15px;
    }

    .newcomer__apps {
        width: 100%;
        padding: 0;
    }

    .newcomer__apps:hover .main__app-link {
        padding: 4px 25px;
        margin-right: 15px;
        font-size: 15px;
    }

    .about__app {
        padding-left: 7%;
    }

    .title__app {
        font-size: 20px;
    }

    .subtitle__app {
        font-size: 16px;
    }

    .body__app {
        padding-top: 8%;
    }


    .body__app br {
        display: none;
    }

    .footer__app {
        padding-top: 10%;
    }
}

@media (max-width: 549px) {}

/* ----------------------carousel  Start-------------------------- */

.carousel {
    height: 500px;
    width: 100%;
}

.carousel__slide {
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel__image {
    display: inline-block !important;
    height: 400px;
    width: 492px;
    margin-right: 60px;
}

.carousel__text-wrapper {
    position: relative;
}

.text-wrapper__quotes {
    position: absolute;
    top: -54px;
    left: -50px;
}

.carousel__image-wrapper {
    position: relative;
}

.carousel__main-text {
    display: inline-block;
    width: 400px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.slick-prev::before {
    display: inline-block;
    content: url('./img/arrow.svg') !important;
    transform: rotate(180deg) !important;
}

.slick-next::before {
    content: url('./img/arrow.svg') !important;
}

.text__image-wrapper {
    position: absolute;
    bottom: 40px;
    left: 170px;
    border-radius: 8px;
    padding: 16px;
    backdrop-filter: blur(25px);
}

.text__image-main {
    display: block;
    color: #FFF;
    font-size: 26px;
    font-weight: 500;
}

.text__image-second {
    color: rgba(255, 253, 253, 0.55);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

@media (max-width: 1265px) and (min-width:990px) {}

@media (max-width: 990px) {
    .slick-dotted.slick-slider {
        display: none;
    }
}

@media (max-width: 770px) and (min-width: 320px) {

    .slick-dotted.slick-slider {
        display: none;
    }
}

@media (max-width: 549px) {}

/* ----------------------carousel  End-------------------------- */


/* ----------------------contributor  Start-------------------------- */

.contributor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    width: 100%;
}

.contributor__text-main {
    font-weight: 500;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}

.contributor__text-second {
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
    padding-top: 25px;
}

.contributor__join-container {
    position: relative;
    margin-top: 100px;
    width: 553px;
}

.contributor__join {
    height: 64px;
    width: 100%;
    border: 8px;
    background: #283036;
    border-radius: 15px;
    padding-left: 7%;
    padding-right: 22%;
    color: rgba(255, 255, 255, 0.9);
}

.contributor__search-link {
    position: absolute;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    background: #FF6E30;
    border-radius: 8px;
    right: 11px;
    padding: 12px 36px;
    top: 9px;
    width: 130px;
    text-align: center;
}

@media (max-width: 1265px) and (min-width:990px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) and (min-width: 320px) {

    .contributor {
        width: 80%;
        align-items: start;
        margin-top: -25%;
    }

    .contributor__text-main {
        font-size: 40px;

    }

    .contributor__text-second {
        font-size: 17px;
        padding-top: 5%;
    }

    .contributor__join-container {
        margin-top: 20%;
    }

    .contributor__join {
        height: 58px;
        width: 60%;
    }

    .contributor__search-link {
        right: 42%;
        padding: 8px 0px;
        top: 9px;
        width: 18%;
    }
}

@media (max-width: 549px) {}

/* ----------------------contributor End-------------------------- */


/* ----------------------footer  Start-------------------------- */

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 350px;
    margin-top: 240px;
    padding-top: 68px;
    white-space: nowrap;
}

.footer__container {
    display: flex;
}

.footer__logo {
    width: 260px;
    margin-right: 156px;
}

.footer__block {
    display: flex;
    padding-bottom: 24px;
}

.footer__block-logo {
    padding-left: 12px;
    font-weight: 600;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.footer__block-text-main {
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
}

.footer__block-text-second {
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
}


.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__info-item {
    margin-right: 115px;
}

.footer__info-text-main {
    white-space: nowrap;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.footer__info-text-second {
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}

.footer__list-item {
    padding-bottom: 10px;
}

.footer__list-item:last-child {
    padding-bottom: 0;
}

@media (max-width: 1265px) and (min-width:770px) {}

@media (max-width: 770px) and (min-width: 320px) {
    .footer {
        margin-top: 34%;
        padding-top: 6%;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__logo {
        margin-bottom: 10%;
    }

    .footer__info {
        flex-wrap: wrap;
    }

    .footer__info-item {
        width: 40%;
        margin-right: 0px;
    }

    .footer__info-item:first-child {
        margin-bottom: 10%;
    }
}

@media (max-width: 549px) and (min-width: 320px) {}

/* ----------------------footer  End-------------------------- */